/* general stuff */

:root {
    --grid-color: #dadce0;
    --time-color: #000000;
    --slot-hover-color: #BBDEFB;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --font-color: #222;
    --color-red: #D50000;
    --color-blue: #42A5F5;
    --color-green: #00C853;
    --color-orange: #FF6D00;
    --color-grey: rgb(128,128,128);
    --slotHeight: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dadce0; 
    border-radius: 100vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a6a7aa; 
  }

li{
    list-style: none;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

/* header */

.header {
    text-align: center;
    padding: 20px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff; 
  /*box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);*/
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.header h1 {
    font-weight: 400;
}
.header h1 span {
    color: #76b9e9;
}

.header i {
    cursor: pointer;
    margin: 0px 5px;
    color: var(--time-color);
    transition: all 80ms linear;
}

.header i:hover {
    color: var(--font-color);
    border-color: var(--font-color);
}

/* controls */

.weekControls {
    position: absolute;
    left: 20px;
    /*font-size: 22px;*/
}

.generalControls {
    position: absolute;
    right: 20px;
}

.generalControls i {
    line-height: 25px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.generalControls .fa-plus {
    font-size: 20px;
}

.generalControls .fa-trash-alt {
    font-size: 18px;
}

/* calendar */

#calendar {
    display: flex;
    width: 100%;
    transition: opacity 200ms ease-in;
    border-bottom: 1px solid var(--grid-color);
}

#calendar.opaque {
    opacity: 0.4;
}

/* columns */

.dayTime {
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    color: var(--time-color);
}

.day {
    width: 100%;
    min-width: 110px;
    border-left: 1px solid var(--grid-color);
}

.columnHeader {
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    height: 60px;
    overflow: hidden;
}

.day .columnHeader {
    border-top: 1px solid var(--grid-color);
}

.day.currentDay .columnHeader {
    background: var(--slot-hover-color);
}

.dayDisplay {
    font-size: 15px;
    color: var(--time-color);
}

/* slots */

.slots {
    position: relative;
}

.slot,
.time {
    border-top: 1px solid var(--grid-color);
    height: var(--slotHeight);
}

.time {
    font-size: 14px;
}

.slot:hover {
    cursor: pointer;
    background-color: var(--slot-hover-color);
}

.time.currentTime {
    background-color: var(--slot-hover-color);
    color: var(--font-color);
}

/* events */

.event {
    position: absolute;
    left: 1px;
    width: calc(100% - 2px);
    border-radius: 4px;
    padding: 2px 5px;
    color: white;
    overflow: hidden;
    cursor: pointer;
}

.shortEvent {
    padding: 0px 5px;
    font-size: 12px;
}

.veryShortEvent {
    margin-top: -1px;
    padding: 0px 5px;
    font-size: 10px;
}

/* event modal */

#eventModal {
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--shadow-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    padding: 20px;
    max-width: 450px;
    min-width: 250px;
    z-index: 999999999;
    height: 90%;
}

#errors {
    color: var(--color-red);
}

#modalTitle {
    margin-bottom: 20px;
}

#eventModal label {
    font-weight: bold;
    display: inline-block;
    margin: 20px 10px 5px 0px;
}

.shortInput {
    border-bottom: 1px solid var(--grid-color);
    padding: 2px 1px;
}

.shortInput:focus {
    border-bottom: 1px solid var(--font-color);
}

#eventTitle {
    width: 95% !important;
}

#eventStart {
    margin-right: 10px;
}

#eventEnd {
    margin-left: 10px;
}

#eventDescription {
    border: 1px solid var(--grid-color);
    width: 95% !important;
    height: 170px;
    min-height: 40px;
    resize: vertical;
    padding: 4px;
}

#eventDescription:focus {
    border: 1px solid var(--font-color);
}

#eventControls {
    margin: 25px 0px 10px 0px;
    display: contents;
}

.button {
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 100vw;
    float: left;
    margin: 10px;
    width: calc(100% - 20px) !important;
}

#deleteButton {
    background-color: var(--color-red);
}

.button:hover,
.button:focus {
    opacity: 0.8;
}

/* colors in event modal */

#colors {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.color {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: content-box;
    cursor: pointer;
}

.color.active,
.color:focus,
.color:hover {
    border: 5px solid var(--grid-color);
}

.color-red {
    background-color: var(--color-red);
}

.color-blue {
    background-color: var(--color-blue);
}

.color-green {
    background-color: var(--color-green);
}

.color-orange {
    background-color: var(--color-orange);
}
/*------------reg-----------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    z-index: 9999999;

    background: rgb(54 92 175 / 85%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    max-width: 450px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s


    /* background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--shadow-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    padding: 20px;
    width: 450px;
    min-width: 250px; */
  }
  
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background:white;
    color: Black;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: var(--color-blue);
    color: white;
  }
  
/*-------------- account ------------*/
.fcontainer{
    background:white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;

    /* display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--shadow-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    padding: 20px;
    width: 450px;
    min-width: 250px; */

    
}
.fcontainer span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;

}
.fbtn{
    display: inline-block;

}
.fcontainer form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}
.finput{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 2px;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
.btn a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: var(--color-blue);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}
#LoginForm a {
    color: white;
    
}
@media (max-width: 800px) {
    #weekDisplay {
        display: none;
    }
}

.linkedCalendarDiv {
    height: 50%; 
    border-left: none; 
    border-top: none;
    border-bottom: none;
    position: relative;
}

.generateBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ui-widget-header{
    color: #000000 !important;
    background: none !important;
/*    background-color: var(--color-blue) !important;*/
background-color: transparent!important;
}
.ui-state-default{
    background: none !important;
    border: none;
    color: #000000 !important;
    border: none !important;
    padding: 0 !important;
    height: 28px;
    text-align: center !important;
    line-height: 28px;
}
.ui-state-active{
    background: var(--color-blue) !important;
    border: none;
    border-radius: 100vw;
    color: #ffffff !important;
    border: none !important;
    width: 28px;
    padding: 0 !important;
    height: 28px;
    text-align: center !important;
    line-height: 28px;
    margin: 0 auto !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border: none !important;
}
.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev{
    height: 35px !important;
    border-radius: 100vw;
    width: 35px !important;
}
.ui-datepicker .ui-datepicker-next:hover,.ui-datepicker .ui-datepicker-prev:hover{
    background: #b8b8b826 !important;
    cursor: pointer;
}

#ulLstLinkedCalendar label{
    margin-left: 10px;
}

.ui-widget.ui-widget-content{
    padding: 30px;
    margin: -20px;
}

i#nextWeekBtn::before{
    content: url(./images/20px.svg);
}
i#prevWeekBtn::before{
    content: url(./images/20px-left.svg);
}

#weekDisplay{
    vertical-align: top;
}

span.ui-icon.ui-icon-circle-triangle-w{
    content: url(./images/20px-left.svg);
    background-image: none;
}

span.ui-icon.ui-icon-circle-triangle-e{
    content: url(./images/20px.svg);
    background-image: none;
}

@media screen and (min-width: 500px) {
    #calenderHide {
        display: block;
    }
  }
  @media screen and (max-width: 500px) {
    #calenderHide {
        display: none;
    }
    .removeOnMobile{
        display: none;
    }
    #eventModal{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        max-width: unset;
    }
    .calendar-container{
        top: 112px !important;
    }
    #currentWeek{
        position: fixed;
        top: 61px;
        left: 0;
        right: 0;
        max-width: 250px;
        margin: 0 auto;
    }
  }
